.jumbotron{
        background-color: navy;
        color:white;
    }
    .bg-grey{
        background-color: #f6f6f6;
    }
    .container-fluid{
        padding: 30px 50px
    }
    .logo{
        color: navy;
        font-size : 200px;
    }
    .logo-small{
        color: navy;
        font-size: 50px;
    }
    .thumbnail{
        padding: 0 0 15px 0 ;
        border: none;
        border-radius: 0;
    }
    .thumbnail img{
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
    .carousel-control, .carousel-control.left{
        background-image: none;
        color: navy;
    }
    .carousel-indicators li{
        border-color: navy;
    }
    .carousel-indicators li.active{
        background-color: navy;
    }
    .item h4{
        font-size: 19px;
        font-style: italic;
        margin: 70px 0;
    }
    #myCarousel2_img{
        width: 400px;
        height: 230px;
        margin-left: auto;
        margin-right: auto;
    }
    .panel{
        border: 1px solid navy;
        border-radius:0;
        transition: box-shadow 0.5s;
    }
    .panel:hover{
        box-shadow: 5px 5px 40px lightgray;
    }
    .panel-footer .btn:hover{
        border: 1px solid navy;
        background-color: #fff;
        color: navy;
    }
    .panel-heading{
        color: navy !important;
        background-color: navy !important;
        padding: 25px;
    }
    .panel-footer{
        background-color: #fff !important;
    }
    .panel-footer h3{
        font-size: 32px;
    }
    .panel-footer h4{
        color: #aaa;
        font-size: 14px;
    }
    .panel-footer .btn{
        margin: 15px 0;
        background-color: #f4511e;
        color: #fff;
    }
    .navbar{
        background-color: #fff;
        border: 0;
        font-size: 12px;
        letter-spacing: 4px;
    }
    .navbar li a, .navbar .navbar-brand{
        color: navy !important;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a{
        color: black !important;
        background-color: floralwhite !important;
     }
    .navbar-default .navbar-toggle{
        border-color: transparent;
    }
    footer .glyphicon{
        font-size: 20px;
        margin-bottom: 20px;
        color: mediumblue;
    }
    body{
        font-family: Lato, sans-serif;
    }
    .jumbotron{
        font-family: Montserrat, sans-serif;
    }
    .navbar{
        font-family: Montserrat, sans-serif;
    }
    .postimg{
      border: 1px solid orangered;
      width: 350px;
      height: 400px;
      margin-bottom: 20px;
    }
    #title-bm{
      text-align: center;
      padding-top: 50px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 100px;
      color: mediumblue;
    }
    #content-bm{
      text-align: left;
      font-size: 30px;
      font-family: 'Noto Sans KR', sans-serif;
      width: 900px; height: 900px;
      list-style: none;
      margin: auto;
    }
    #post-cn{
      padding-top: 50px;
      padding-bottom: 15px;
      font-size: 1.3em;
    }
    #post-cn1{
      margin-top: 30px;
      font-size: 1.5em;
    }
    #post-cn2{
      margin: auto;
      font-size: 1.2em;
    }
    #btn-id{
      text-align: center;
      font-size: 1.5em;
      padding-bottom: 20px;
    }